server:
  port: 2222
eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/

zuul:
  prefix: /api
  routes:
    ###按照顺序加载
    order: /order/**
    store: /stock/**
    gateway: /gateway/**
    authentication: /authentication/**
  sensitive-headers: Cookie,Set-Cookie
#  strip-prefix: false